= semantic_form_for(@veterinario) do |f| 
  = f.input :crmv, :label => 'crmv'
  = f.input :status, :label => 'status'
  = f.input :telefone, :label => 'telefone'
  = f.input :email, :label => 'email'
  = f.input :endereco, :label => 'endereco'
  = f.input :cep, :label => 'cep'
  = f.input :nota, :label => 'nota'
  = f.input :dtModificacao, :label => 'dtModificacao'
  = f.input :login, :label => 'login'
  = f.input :pass, :label => 'pass'
  = f.input :fotoperfil, :label => 'fotoperfil'
  = f.submit 'Salvar'

