<p id="notice"><%= notice %></p>

<p>
  <b>Crmv:</b>
  <%= @veterinario.crmv %>
</p>

<p>
  <b>Status:</b>
  <%= @veterinario.status %>
</p>

<p>
  <b>Telefone:</b>
  <%= @veterinario.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @veterinario.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @veterinario.telefone %>
</p>

<p>
  <b>Endereco:</b>
  <%= @veterinario.endereco %>
</p>

<p>
  <b>Cep:</b>
  <%= @veterinario.cep %>
</p>

<p>
  <b>Nota:</b>
  <%= @veterinario.nota %>
</p>

<p>
  <b>Dtmodificacao:</b>
  <%= @veterinario.dtModificacao %>
</p>

<p>
  <b>Login:</b>
  <%= @veterinario.login %>
</p>

<p>
  <b>Pass:</b>
  <%= @veterinario.pass %>
</p>

<p>
  <b>Fotoperfil:</b>
  <%= @veterinario.fotoperfil %>
</p>


<%= link_to 'Edit', edit_veterinario_path(@veterinario) %> |
<%= link_to 'Back', veterinarios_path %>
