<%= form_for(@vetxespecialidade) do |f| %>
  <% if @vetxespecialidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vetxespecialidade.errors.count, "error") %> prohibited this vetxespecialidade from being saved:</h2>

      <ul>
      <% @vetxespecialidade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :itemlink %><br />
    <%= f.text_field :itemlink %>
  </div>
  <div class="field">
    <%= f.label :veterinario %><br />
    <%= f.text_field :veterinario %>
  </div>
  <div class="field">
    <%= f.label :especialidade %><br />
    <%= f.text_field :especialidade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
