<h1>Listing itemlinks</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Veterinario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itemlinks.each do |itemlink| %>
  <tr>
    <td><%= itemlink.status %></td>
    <td><%= itemlink.veterinario.nome %></td>
    <td><%= link_to 'Show', itemlink %></td>
    <td><%= link_to 'Edit', edit_itemlink_path(itemlink) %></td>
    <td><%= link_to 'Excluir', itemlink, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Itemlink', new_itemlink_path %>
