= semantic_form_for(@relato) do |f| 
  = f.input :detalhes, :label => 'Detalhes'
  = f.input :item, :member_label => :id, :label => 'Item'
  = f.input :patologia, :member_label => :nome, :label => 'Patologia'
  = f.submit 'Salvar'

