= semantic_form_for(@animal) do |f| 
  = f.input :nomeCientifico, :label => 'Nome Cientifico'
  = f.input :nomePopular, :label => 'Nome Popular'
  = f.input :detalhes, :label => 'Detalhes'
  = f.input :item, :member_label => :id, :label => 'Item'
  = f.submit 'Salvar'

