<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :nomePopular %><br />
    <%= f.text_field :nomePopular %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :dtModificacao %><br />
    <%= f.text_field :dtModificacao %>
  </div>
  <div class="field">
    <%= f.label :veterinario %><br />
    <%= f.text_field :veterinario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
