<p id="notice"><%= notice %></p>

<p>
  <b>Crmv:</b>
  <%= @veterinario.crmv %>
</p>

<p>
  <b>Status:</b>
  <%= @veterinario.status %>
</p>

<p>
  <b>Nome:</b>
  <%= @veterinario.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @veterinario.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @veterinario.telefone %>
</p>

<p>
  <b>Endereco:</b>
  <%= @veterinario.endereco %>
</p>

<p>
  <b>Cep:</b>
  <%= @veterinario.CEP %>
</p>

<p>
  <b>Nota:</b>
  <%= @veterinario.nota %>
</p>

<p>
  <b>Imageurl:</b>
  <%= @veterinario.imageURL %>
</p>

<p>
  <b>Detalhes:</b>
  <%= @veterinario.detalhes %>
</p>

<p>
  <b>Admin:</b>
  <%= @veterinario.admin %>
</p>

<p>
  <b>Login:</b>
  <%= @veterinario.login %>
</p>

<p>
  <b>Pass:</b>
  <%= @veterinario.pass %>
</p>

<p>
  <b>Cidade:</b>
  <%= @veterinario.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @veterinario.estado %>
</p>


<%= link_to 'Edit', edit_veterinario_path(@veterinario) %> |
<%= link_to 'Back', veterinarios_path %>
