<h1>Listing follows</h1>

<table>
  <tr>
    <th>Vet Follower</th>
    <th>Vet Followed</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @follows.each do |follow| %>
  <tr>
    <td><%= follow.follower.nome %></td>
    <td><%= follow.followed.nome %></td>
    <td><%= follow.status %></td>
    <td><%= link_to 'Show', follow %></td>
    <td><%= link_to 'Edit', edit_follow_path(follow) %></td>
    <td><%= link_to 'Excluir', follow, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Follow', new_follow_path %>
